body{
    background: #1e1e1e;
}

.Songs{
    margin-bottom: 100px !important;
}

.Song{
    background: #363636;
    border-radius: 7px;
    padding: 10px;
    position: relative;
    cursor: pointer;
}

.Song:not(:last-child){
    margin-bottom: 7px;
}

.Song .play-btn,.Song .song-info{
    display: inline-block;
    align-items: center;
}

.Song .song-info{
    margin-left: 40px; 
}

.Song .song-info h5{
    font-size: 1em;
    font-weight: 500;
    color: #eeeeee;
    margin: 0;
}

.Song .song-info p{
    font-size: .8em;
    font-weight: 500;
    color: #8b8b8b;
    margin: 0;
}

.Song .play-btn{
    margin-right: 20px;
    padding: 6.5px 10px;
    background: #1e1e1e;
    border-radius: 100%;
    color: #8b8b8b;
    font-size: .7em;
    text-align: center;
    border: 1px #cecece solid;
    position: absolute;
    top:50%;
    left: 10px;
    transform: translateY(-50%);
    outline: none;
}

.Song .play-btn i{
    transform: translate(10%,-5%);
}

.btns{
    display: inline-block;
    position: absolute;
    top:50%;
    right: 10px;
    transform: translateY(-50%);
}

.btns button{
    border-radius: 50%;
    margin-left: 10px;
    background: none;
    cursor: pointer;
}

.btns button.edit-btn{
    border: #1e53ff 2px solid;
    color: #1e53ff;
    padding: 5px 8px;
}
.btns button.edit-btn i{
    transform: translate(10%,-5%);
}

.btns button.delete-btn{
    border: #d61e1e 2px solid;
    color: #d61e1e;
    padding: 5px 10px;
}
.btns button.delete-btn i{
    transform: translate(0%,-5%);
}

.Player{
    position: fixed;
    width: 100%;
    background: #313131;
    left: 0;
    bottom: 0;
    padding: 7px;
    text-align: center;
}

.Player .player-text{
    margin-bottom: 5px;
}

.Player .song-title{
    font-size: 1em;
    font-weight: 500;
    color: #eeeeee;
    margin: 0;
}

.Player .song-author{
    font-size: 1em;
    font-weight: 500;
    color: #8b8b8b;
    margin: 0;
}

.Player .song-duration{
    font-size:.9em;
    color:#5c5a5a;
}

.Player .player-buttons{
    font-size: 1.25em;
}

.Player .player-buttons button{
    margin: 0 5px;
    background:#cecece;
    outline:none;
    color:#1e1e1e;
    border:none;
    border-radius:50%;
}

.Player .player-buttons input{
    width: 90px;
    height:17px;
    margin: 0 5px;
}

.playing{
    background: #272727;
}

.playing .song-info h5{
    color: #14a800;
}

